{:test {:db-schema-file "db/schema-adi.edn"
        :db-default-file "db/default.edn"
        :db-url "datomic:mem://bkell"}
 :dev {:db-schema-file "db/schema-adi.edn"
       :db-default-file "db/default.edn"
       :db-url "datomic:mem://bkell"}
 :prod {:db-schema-file "db/schema-adi.edn"
        :db-default-file "db/default.edn"
        :db-url "datomic:free://localhost:4334//bkell"}}
