[{:system

  {:currencies #{{:+/db/id [[:currency-ca]]
                  :id "CDN" :name "Canadian Dollar"}
                 {:+/db/id [[:currency-usd]]
                  :id "USD" :name "United States Dollar"}
                 {:+/db/id [[:currency-eur]]
                  :id "EUR" :name "European Euro"}
                 {:+/db/id [[:currency-gbp]]
                  :id "GBP" :name "Great British Pound"}
                 {:+/db/id [[:currency-yen]]
                  :id "YEN" :name "Japanese Yen"}
                 {:+/db/id [[:currency-aud]]
                  :id "AUD" :name "Australian Dollar"}
                 {:+/db/id [[:currency-zar]]
                  :id "ZAR" :name "South African Rand"}
                 {:+/db/id [[:currency-cny]]
                  :id "CNY" :name "Chinese Yuan Renminbi"}
                 {:+/db/id [[:currency-rub]]
                  :id "RUB" :name "Russian Ruble"}
                 {:+/db/id [[:currency-brl]]
                  :id "BRL" :name "Brazilian Ruble"}
                 {:+/db/id [[:currency-inr]]
                  :id "INR" :name "Indian Rupee"}}

   :countries #{{:+/db/id [[:country-ca]]
                 :id "CA" :name "Canada"}
                {:+/db/id [[:country-us]]
                 :id "US" :name "United States"}
                {:+/db/id [[:country-eu]]
                 :id "EU" :name "Europe"}
                {:+/db/id [[:country-uk]]
                 :id "UK" :name "United Kingdom"}
                {:+/db/id [[:country-jp]]
                 :id "JP" :name "Japan"}
                {:+/db/id [[:country-au]]
                 :id "AU" :name "Australia"}
                {:+/db/id [[:country-za]]
                 :id "ZA" :name "South Africa"}
                {:+/db/id [[:country-cn]]
                 :id "CN" :name "China"}
                {:+/db/id [[:country-ru]]
                 :id "RU" :name "Russia"}
                {:+/db/id [[:country-br]]
                 :id "BR" :name "Brazil"}
                {:+/db/id [[:country-in]]
                 :id "IN" :name "India"}}

   :groups #{{:+/db/id [[:group-webkell]]

              :name "webkell"

              :users #{{:+/db/id [[:user-webkell]]
                        :username "webkell"
                        :password "default"
                        :firstname "webkell"
                        :lastname "webkell"
                        :email "webkell"
                        :defaultgroup [[:group-webkell]]
                        :country [[:country-ca]]}}

              :owner [[:user-webkell]]

              :defaultCurrency [[:currency-ca]]

              :books #{{:name "main"
                        :accounts #{{:name "cash"
                                     :type :asset
                                     :counterWeight :debit}
                                    {:name "debt"
                                     :type :liability
                                     :counterWeight :credit}
                                    {:name "revenue"
                                     :type :revenue
                                     :counterWeight :credit}
                                    {:name "expense"
                                     :type :expense
                                     :counterWeight :debit}}

                        :journals #{{:name "generalledger"
                                     :entries #{}}}}
                       {:name "taxes"
                        :accounts #{}
                        :journals #{}}}}

             {:+/db/id [[:group-guest]]

              :name "guest"

              :users #{{:+/db/id [[:user-guest]]
                        :username "guest"
                        :password "default"

                        :firstname "guest"
                        :lastname "guest"
                        :email "guest"
                        :defaultgroup [[:group-guest]]
                        :country [[:country-ca]]}}

              :owner [[:user-guest]]

              :defaultCurrency [[:currency-ca]]

              :books #{{:name "main"
                        :accounts #{{:name "cash"
                                     :type :asset
                                     :counterWeight :debit}
                                    {:name "debt"
                                     :type :liability
                                     :counterWeight :credit}
                                    {:name "revenue"
                                     :type :revenue
                                     :counterWeight :credit}
                                    {:name "expense"
                                     :type :expense
                                     :counterWeight :debit}}

                        :journals #{{:name "generalledger"
                                     :entries #{}}}}
                       {:name "taxes"
                        :accounts #{}
                        :journals #{}}}}}}}]
