[{:system

  {:currencies #{{:db/id (adi.data.common/iid :currency-ca)
                  :id "CDN" :name "Canadian Dollar"}
                 {:db/id (adi.data.common/iid :currency-usd)
                  :id "USD" :name "United States Dollar"}
                 {:db/id (adi.data.common/iid :currency-eur)
                  :id "EUR" :name "European Euro"}
                 {:db/id (adi.data.common/iid :currency-gbp)
                  :id "GBP" :name "Great British Pound"}
                 {:db/id (adi.data.common/iid :currency-yen)
                  :id "YEN" :name "Japanese Yen"}
                 {:db/id (adi.data.common/iid :currency-aud)
                  :id "AUD" :name "Australian Dollar"}
                 {:db/id (adi.data.common/iid :currency-zar)
                  :id "ZAR" :name "South African Rand"}
                 {:db/id (adi.data.common/iid :currency-cny)
                  :id "CNY" :name "Chinese Yuan Renminbi"}
                 {:db/id (adi.data.common/iid :currency-rub)
                  :id "RUB" :name "Russian Ruble"}
                 {:db/id (adi.data.common/iid :currency-brl)
                  :id "BRL" :name "Brazilian Ruble"}
                 {:db/id (adi.data.common/iid :currency-inr)
                  :id "INR" :name "Indian Rupee"}}

   :countries #{{:db/id (adi.data.common/iid :country-ca)
                 :id "CA" :name "Canada"}
                {:db/id (adi.data.common/iid :country-us)
                 :id "US" :name "United States"}
                {:db/id (adi.data.common/iid :country-eu)
                 :id "EU" :name "Europe"}
                {:db/id (adi.data.common/iid :country-uk)
                 :id "UK" :name "United Kingdom"}
                {:db/id (adi.data.common/iid :country-jp)
                 :id "JP" :name "Japan"}
                {:db/id (adi.data.common/iid :country-au)
                 :id "AU" :name "Australia"}
                {:db/id (adi.data.common/iid :country-za)
                 :id "ZA" :name "South Africa"}
                {:db/id (adi.data.common/iid :country-cn)
                 :id "CN" :name "China"}
                {:db/id (adi.data.common/iid :country-ru)
                 :id "RU" :name "Russia"}
                {:db/id (adi.data.common/iid :country-br)
                 :id "BR" :name "Brazil"}
                {:db/id (adi.data.common/iid :country-in)
                 :id "IN" :name "India"}}

   :groups #{{:db/id (adi.data.common/iid :group-webkell)

              :name "webkell"

              :users #{{:db/id (adi.data.common/iid :user-webkell)
                        :username "webkell"
                        :password "default"
                        :firstname "webkell"
                        :lastname "webkell"
                        :email "webkell"
                        :defaultgroup {:+/db/id (adi.data.common/iid :group-webkell)}
                        :country {:+/db/id (adi.data.common/iid :country-ca)}}}

              :owner {:+/db/id (adi.data.common/iid :user-webkell)}

              :defaultCurrency {:+/db/id (adi.data.common/iid :currency-ca)}

              :books #{{:accounts #{{:name "cash"
                                     :type :asset
                                     :counterWeight :debit}
                                    {:name "debt"
                                     :type :liability
                                     :counterWeight :credit}
                                    {:name "revenue"
                                     :type :revenue
                                     :counterWeight :credit}
                                    {:name "expense"
                                     :type :expense
                                     :counterWeight :debit}}

                        :journals #{{:name "generalledger"
                                     :entries #{}}}}}}}}}]
